
import(haven)
import(admisc)
importFrom("grDevices", "dev.new", "hcl", "dev.cur")
importFrom("graphics", "axis", "barplot", "curve", "hist", "lines",
           "par", "plot", "polygon", "segments", "text")
importFrom("stats", "anova", "ansari.test", "aov", "dbinom", "dnorm",
           "dt", "fligner.test", "lm", "na.omit", "oneway.test",
           "pnorm", "pt", "relevel", "sd", "t.test", "var")

export(
    anovaFK,
    daria,
    dariat,
    dbinoms,
    dfcalc,
    fmode,
    fretab,
    fretable,
    hclr,
    histc,
    mbinom,
    mod,
    sbinom,
    spooled,
    t_testAB,
    using,

    unique_labelled,
    remove_labels,
    get_labels,
    getName_statistics
)

S3method(print, "anovaFK")
S3method(print, "fretable")
S3method(print, "usage")
